<div class="footer">
  <div>
    <h4>The Wind <span>Technology</span> &copy; 2024-2025</h4>
    <h6>All Rights Reserved.</h6>
    <div class="footer-main-links">
    <div class="footer-links">
      <div>Top Links</div>
      <div>Register</div>
      <div>How to connect?</div>
    </div>
    <div class="footer-links">
    <div>About</div>
    <div>Contact</div>
    <div>FAQs</div>
    </div>
    </div>
  </div>
  <div>
    <a href="/"
      ><img class="footer-logo" src="pics/logoRegister.png" alt=""
    /></a>
  </div>
</div>
