<div class="navbar">
  <div>
    <a href="/"><img class="logo" src="pics/logoRegister.png" alt="" /></a>
  </div>
  <div class="nav-items">
    <div class="home"><a href="/">Home</a></div>
    <div class="about"><a href="/about">About</a></div>
    <div class="about"><a href="">Contact</a></div>
  </div>
</div>
