<link rel="stylesheet" href="css/navbar.css" />

<nav class="navbar bg-secondary bg-gradient">
  <div class="container-fluid">
    <i class="bi bi-file-text"></i>
    <a class="navbar-brand" href="/">Registration Form</a>
  </div>
  <div class="btn about-head-button">
    <a href="/about">About</a>
  </div>
</nav>
