<link rel="stylesheet" href="css/style.css" />
<%- include('includes/navbar.ejs') %>
<div class="about">
  <div class="about-container">
    <h1 class="about-heading">About Registration App</h1>
    <h3>
      This Registration App has been created by
      <a href="https://linkedin.com/in/rahulkumarpahwa"> <b>Rahul Kumar</b></a>
      as a part of learning Full Stack development.
    </h3>

    <h2>This App has following features :</h2>
    <ul>
      <li>You can Register an User using Name, Email and Password.</li>
      <li>If user Uses the same email it will not get Registered.</li>
      <li>You can go to About page to know more about the app.</li>
    </ul>
    <h2>Technologies used :</h2>
    <ul>
      <li>Ejs (Embedded JavaScript)</li>
      <li>Node.js</li>
      <li>Express.js</li>
      <li>MongoDB</li>
      <li>JavaScript</li>
      <li>CSS</li>
    </ul>
  </div>
</div>

<%- include('includes/footer.ejs') %>
