<link rel="stylesheet" href="css/style.css" />
<%- include('includes/navabar.ejs') %>
<div class="contact">
  <div>
    Hi! My name is Rahul Kumar. This Registration App has been created by me.
  </div>
  <div class="contact-links">
    <div>
    You Can find me at:
    <ul>
      <li>
        Linkedin -
        <a href="https://linkedin.com/in/rahulkumarpahwa">@rahulkumarpahwa</a>
      </li>
      <li>
        Github -
        <a href="https://github.com/rahulkumarpahwa">@rahulkumarpahwa</a>
      </li>
      <li>X - <a href="https://x.com/rahulkumarpahwa">@rahulkumarpahwa</a></li>
    </ul>
    </div>
  </div>
</div>

<%- include('includes/footer.ejs') %>
