<link rel="stylesheet" href="css/style.css" />
<%- include('includes/navabar.ejs') %>

<div class="error">
  <h2>User has been already registered with "<%= email %>"</h2>
  <button><a href="/">Back to Home</a></button>
</div>
<%- include('includes/footer.ejs') %>
