<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resgistration Form</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <%- include('includes/navabar.ejs') %>
    <div class="container">
      <form action="/register" method="post" class="input-form">
        <h2>Registration Form</h2>
        <div>
          <input
            type="text"
            name="email"
            placeholder="Enter Your Email"
            required
          />
        </div>

        <div>
          <input
            type="password"
            name="password"
            placeholder="Choose Your Password"
            required
          />
        </div>

        <div><button type="submit" >Submit</button></div>
      </form>
    </div>
    <%- include('includes/footer.ejs') %>

    <script src="scripts/app.js"></script>
  </body>
</html>
