.container-fluid {
  display: flex !important;
  justify-content: center !important;
  color: #eeeeee;
}
.navbar-brand {
  color: #eeeeee;
}

.navbar-brand:hover {
  color: #dddddd;
}

.navbar {
  background-color: #627254 !important;
}

.bi {
  margin-right: 2px;
  font-size: 25px;
}

.about-head-button {
  background-color: #dddddd;
  position: absolute;
  top: 13px;
  right: 5px;
  border: none;
  padding: 3px 5px !important;
  margin: none;
  border-radius: 10px;
  height: 20px;
  display: flex;
  align-items: center;
}
.about-head-button a {
  font-size: 13px;
  text-decoration: none;
  color: rgb(123, 118, 118);
  padding: none !important;
}

.about-head-button:hover {
  background-color: #627254;

  border: 1px solid white;
}
.about-head-button a:hover {
  color: white;
}
