* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contain {
  margin: 0px 0px;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 20px 0px;
}

.submit {
  background-color: #627254;
  border: 1px solid #627254;
}
.submit:hover {
  background-color: #76885b !important;
  border: 1px solid #627254;
}

.footer {
  background-color: #76885b;
  padding: 10px;
  text-align: center;
}

.footer a {
  color: #eeeeee;
}

.error {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 84px;
  padding: 100px;
}
.error > h2 {
  font-size: 25px;
  margin: 20px;
}

.error-button {
  background-color: #627254 !important;
  border: 1px solid #627254 !important;
}

.error-button:hover {
  background-color: #76885b !important;
}

.user-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 64px;
  padding: 100px;
}

.user-div > h2 {
  font-size: 25px;
  margin: 20px;
}

.about-container h1 {
  text-align: center;
  margin: 10px 0px;
}
.about {
  margin: 0px 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-container h3 {
  margin: 15px;
}

.about-container h5 a {
  color: #627254;
}
